html {
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
    margin: 0px;
}

h1, h2 {
    color: #9E3E26;
}

.maincontent {
    padding-left: 5%;
    padding-right: 5%;
}


.navbar{
    background-color: #2B604E;
    overflow: hidden;
    height: 63px;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-nav a{
    color: #ffffff;
    font-size: 14px;
    padding-top: 24px;
}

.navbar-nav a:visited{
    color: #ffffff;
}

.navbar ul{
    margin: 0;
    list-style: none;
}

.navbar a:hover {
    color: #000;
    transition: 0.5s;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #2B604E;
}

.side-nav a:visited {
    color: #ffffff;
}

.side-nav a:visited:hover {
    color: #2b604e;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.logo {
    z-index: 1;
    height: 63px;
    width: auto;
    float: right;
    padding-right: 10px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

button {
    margin-bottom: 20px;
}

.diy_btn, .standard_btn, .tumbler_btn, .countertop_btn {
    padding: 10px;
    color: #658f81;
    border-color: #2B604E;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(43, 96, 78, 0.25);
    font-weight: bold;
    font-size: 12px;
    width: auto;
    height: 40px;
}

figure {
    margin: 0px;
}

figcaption {
    width: 100%;
}

.allsupplies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3%;
}

.supplies1, .supplies2, .supplies3, .supplies4 {
    width: 100%;
}


a:link {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    padding-left: 10px;
    transition: .3s;
    background-color: rgba(255, 255, 255, 0.473);
}

a:visited {
    color: #2B604E;
}

a.amazon_buttons:link {
    color: #2b604e;
}

.arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #2b604e;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    border-style: outset;
    border-radius: 10px;
    border-color: hsla(160, 38%, 27%, 0.4);
}

a.arrow:link {
    color: #ffffff;
}

a.arrow:hover {
    color: #ffffff;
    text-decoration: none;
    padding: 0px;
    font-weight: 1000;
    transition: .3s;
}

a.arrow:visited {
    color: #ffffff;
}

footer {
    background-color: #2B604E;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    height: 20px;
}

.copyright {
    float: left;
    padding-right: 10px;
}

.facebook, .snapchat {
    float: right;
    height: auto;
    width: 20px;
}

.twitter {
    float: right;
    height: auto;
    width: 20px;
}

@media(min-width:950px) {
    .open-slide {
        display: none;
    }
}

@media(max-width:950px) {
    .allsupplies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3%;
    }
    
    .supplies1, .supplies2, .supplies3, .supplies4 {
        width: 100%;
    }

    .navbar-nav{
        display: none;
    }
}

@media(max-width:650px) {
    .allsupplies {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3%;
    }
    
    .supplies1, .supplies2, .supplies3, .supplies4 {
        width: 100%;
    }
}